<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Schedule Maker</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% block body %}
      <h2>Body couldn't be loaded</h2>
    {% endblock %}
    <footer class="text-center text-sm text-gray-500 mt-12 mb-4">
        &copy; 2025 <a href="https://www.linkedin.com/in/md-ahasanul-arafath/" class="text-blue-600 hover:text-blue-700 underline" target="_blank">Md. Ahasanul Arafath</a> — Smart Schedule Generator System
    </footer>
</body>
</html>
