{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Schedule Maker</title>
<!--    <script src="https://cdn.tailwindcss.com"></script>-->
    <script src="{% static 'css/tailwind.min.js' %}"></script>
</head>
<body>
    {% block body %}
      <h2>Body couldn't be loaded</h2>
    {% endblock %}
    <footer class="text-center text-sm text-gray-500 mt-12 mb-4">
        &copy; 2025 <a href="https://ahasanularafath.com/" class="text-blue-600 hover:text-blue-700 underline" target="_blank">Md. Ahasanul Arafath</a> — Smart Schedule Generator System
    </footer>
</body>
</html>
